13-Introduction_to_HTML_&_CSS.txt
BASED_config.py
BASED_main.py
BASED_manager.py
balance.txt
templates/content/btnPurchase.png
templates/content/img/btn/mouseDown/sideButton.png
templates/content/img/guia/mouseDown/sideButton.png
templates/content/img/guia/mouseOut/sideButton.png
templates/content/img/guia/mouseOver/sideButton.png
templates/content/img/guia/mouseUp/sideButton.png
review.txt
warehouse.txt
14-Introduction to Flask.txt