<!DOCTYPE html>
<html xmlns="http://www.vignoto.com" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>MENU</title>
	<link href="css/flekristal.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link href="currency.js" type="js">


	<style type="text/css">
		a:link {text-decoration: none}
		a:visited {text-decoration: none;
			color: #FF0000;
		}
		a:hover {text-decoration: none;
			color: yellow;
		}
		a:active {text-decoration: none}
	</style>

</head>

<body class="menu">
	<div style="text-align: center">
		<br><br>
       	<p class="fonts">DAILY OPERATIONS:</p>
		<div>
			<button type="submit" class="custom-button"><a href="sale.html" TARGET="content"><span class="material-symbols-outlined">shopping_cart_checkout</span> Sale</a></button> <br>
			<!--<a href="purchase.html" TARGET="content"><span class="material-symbols-outlined">add_shopping_cart</span> Purchase</a> <br>-->
		</div>
		<div>
			<button type="submit" class="custom-button"><a href="purchase.html" TARGET="content"><span class="material-symbols-outlined">add_shopping_cart</span> Purchase</a></button> <br><br><br>
			<!--<a href="sale.html" TARGET="content"><span class="material-symbols-outlined">shopping_cart_checkout</span> Sale</a> <br><br><br>-->
		</div>
	</div>

	
	<div style="text-align: center">
       	<p class="fonts">INTERNAL TRANSACTIONS:</p>
		<div>
			<button type="submit" class="custom-button"><a href="balance.html" TARGET="content"><span class="material-symbols-outlined">balance</span> Balance</a></button> <br>
			<!--<a href="balance.html" TARGET="content"><span class="material-symbols-outlined">balance</span> Balance</a> <br>-->
		</div>
		<div>
			<button type="submit" class="custom-button"><a href="history.html" TARGET="content"><span class="material-symbols-outlined">contract_edit</span> History</a></button> <br>
			<!--<a href="history.html" TARGET="content"><span class="material-symbols-outlined">contract_edit</span> History</a> <br>-->
		</div>
	</div>


	<div style="text-align: center">
       	<p class="fonts"></p><br><br>
		<div>
			<a href="balance.html" TARGET="content">
				<span class="material-symbols-outlined">
					balance
				</span>
			</a>
			<div style="text-align: left">
				<p style="text-align: center">Current account balance:</p>
				<p style="text-align: center">€ 2,800.00</p><br><br>
				<p style="text-align: center">Current stock level:</p>
				<table style="text-align: left" class="table table-dark table-sm">
					<thead>
						<tr>
							<th>PRODUCT</th>
							<th>QTY</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Book</td>
							<td>200</td>
						</tr>
						<tr>
							<td>Pen</td>
							<td>123</td>
						</tr>
						<tr>
							<td>Pencil</td>
							<td>50</td>
						</tr>
						<tr>
							<td>Glue</td>
							<td>60</td>
						</tr>
						<tr>
							<td>Notepad</td>
							<td>350</td>
						</tr>
				</table>
			</div>
		</div>


	<div style="text-align: center" class="position-absolute bottom-0 start-1">
       <p class="fonts">Designed and Developed by:</p>
		Vagner Vignoto Moura<BR>
		<span class="material-symbols-outlined">
			mail
		</span>
		<a href="vagner@vignoto.com" TARGET="content">vagner@vignoto.com</a>
	</div>

	
</body>
</html>
