{% extends "base.html" %}

{% block content %}

<div style="text-align: center" class="col col-6 container-fluid">
    <p style="text-align: center">Current stock level:</p>
    <table style="text-align: center" class="table table-dark table-sm">
        <thead>
            <tr>
                <th>PRODUCT</th>
                <th>QTY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Book</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Pen</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Pencil</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Glue</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Notepad</td>
                <td>350</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Pen</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Pencil</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Glue</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Notepad</td>
                <td>350</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Pen</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Pencil</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Glue</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Notepad</td>
                <td>350</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Pen</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Pencil</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Glue</td>
                <td>60</td>
            </tr>
            <tr>
    </table>
</div>

{% endblock %}